<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="chaturbate.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <div class="section clearfix">
        <div class="logo-zone">
          <svg width="198" height="61">
            <image xlink:href="https://ssl-ccstatic.highwebmedia.com/images/logo.svg" src="https://ssl-ccstatic.highwebmedia.com/images/logo-standard.png" width="198" height="61"></image>
          </svg>
          <strong>THE ACT OF MASTURBATING WHILE CHATTING ONLINE</strong>
        </div>
      </div>
      <div class="nav-bar">
        <ul id="nav">
          <li><a href="/">CHAT ROOMS</a></li>
          <li><a href="/">BROADCAST YOURSELF</a></li>
          <li><a href="/">TAGS</a></li>
          <li><a href="/">EARN FREE TOKENS</a></li>
          <li><a href="/">CB SWAG</a></li>
        </ul>
      </div>
    </div>

    <div id="main">
      <div class="chat-tabs-wrapper">
        <div class="chat-tabs">
          <div class="tab">
            <a id="model-cam">Model's Cam</a>
          </div>
          <div class="tab">
            <a class="regular-tab">FEMALE</a>
          </div>
          <div class="tab">
            <a class="regular-tab">MALE</a>
          </div>
          <div class="tab">
            <a class="regular-tab">COUPLE</a>
          </div>
          <div class="tab">
            <a class="regular-tab">TRANS</a>
          </div>
          <div class="tab">
            <a class="regular-tab">SPY SHOWS</a>
          </div>
          <div class="tab">
            <a class="regular-tab">FOLLOWED(0/0)</a>
          </div>
        </div>
      </div>

      <div class="profile">
        <div class="streaming" id="streaming">
          <div class="streaming-cam" id="streaming-cam">
            <div class="streaming-report">
              REPORT ABUSE
            </div>
            <div class="streaming-subject">
              Model's room
            </div>
            <div class="streaming-video">
              <img src="placeholdr.png" alt="" id="control-img">
            </div>
            <span class="streaming-app-wrapper">
              <div class="streaming-app">
                <table>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                </table>
              </div>
            </span>
            <div class="streaming-tips-wrapper">
              <div class="streaming-tips">
                <div class="streaming-tips-balance">
                  <span>You currently have: </span>
                  <span style="font-size: 15px; font-weight: 600;">1000</span>
                  <span> tokens</span>
                </div>
                <div class="streaming-tips-actions">
                  <a>Get More Tokens</a>
                  <a>Start Private Show</a>
                </div>
                <span class="streaming-tips-send">
                  SEND TIP
                </span>
              </div>
            </div>
          </div>
          <div class="streaming-resize" id="resize-bar"></div>
          <div class="streaming-interactive" id="streaming-interactive">
            <div class="streaming-tab-row" id="streaming-tab-row">
              <div class="chat">
                CHAT
              </div>
              <div class="users">
                USERS (1234)
              </div>
              <div class="pm">
                PM
              </div>
              <div class="settings">
                &nbsp;
              </div>
            </div>
            <div style="display: block; height: 50%; width: 50%; padding:25%;">
              It is a simple template of chaturbate layout to display bios made by Riaze2.
            </div>
          </div>
        </div>
        <div class=".profile-bio">
          <div class="profile-bio-tabs">
            <div class="follow-btn">
              <div class="to-follow">
                <span>+ FOLLOW</span>
              </div>
            </div>
            <div class="fanclub-btn">
              <span>
                <a>Join Fan Club</a>
              </span>
            </div>
            <div class="satisfy-wrapper">
              <span class="satisfy-question">SATISFIED ?</span>
              <div class="satisfy-result">
                <div class="satisfy-thumbs">
                  <span>13</span>
                  <img src="https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/thumbs-up-inactive.svg" height="15" width="15">
                </div>
                <span class="satisfy-rate">100%</span>
                <div class="satisfy-thumbs">
                  <img src="https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/thumbs-down-inactive.svg" height="15" width="15">
                  <span>0</span>
                </div>
              </div>
            </div>
            <a class="bio-tab selected">Bio</a>
            <a class="bio-tab not-selected">Pics & Videos</a>
            <a class="bio-tab not-selected">Contest Stats</a>
            <a class="bio-tab not-selected">More Rooms Like This</a>
            <a class="bio-tab not-selected">Share</a>
          </div>
          <div class="bio-container">
            <div class="inbio-fanclub">
              <a>Join Model's Fan Club</a>
            </div>
            <h1>Model's Bio and Free Webcam</h1>
            <div class="bio-entry-container">
              <span class="entry-type">Real Name:</span>
              <span class="entry-data">Model</span>
            </div>
            <div class="bio-entry-container">
              <span class="entry-type">Followers:</span>
              <span class="entry-data">100000</span>
            </div>
            <div class="bio-entry-container">
              <span class="entry-type">Birth Date:</span>
              <span class="entry-data">May 14, 1995</span>
            </div>
            <div class="bio-entry-container">
              <span class="entry-type">Age:</span>
              <span class="entry-data">25</span>
            </div>
            <div class="bio-entry-container">
              <span class="entry-type">I am:</span>
              <span class="entry-data">Female</span>
            </div>
            <div class="bio-entry-container">
              <span class="entry-type">Interested In:</span>
              <span class="entry-data">Men,Women,Trans,Couple</span>
            </div>
            <div class="bio-entry-container">
              <span class="entry-type">Location:</span>
              <span class="entry-data">World</span>
            </div>
            <div class="bio-entry-container">
              <span class="entry-type">Last Broadcast:</span>
              <span class="entry-data">2 hours ago</span>
            </div>
            <div class="bio-entry-container">
              <span class="entry-type">Language(s):</span>
              <span class="entry-data">Spanish, English, French</span>
            </div>
            <div class="bio-entry-container">
              <span class="entry-type">Body Type:</span>
              <span class="entry-data">Fat</span>
            </div>
            <div class="bio-entry-container">
              <span class="entry-type">Smoke / Drink:</span>
              <span class="entry-data">From time to time</span>
            </div>
            <div class="bio-entry-container">
              <span class="entry-type">Body Decorations:</span>
              <span class="entry-data">None</span>
            </div>
            <div class="bio-entry-container">
              <span class="entry-type large-content">Pics & Videos:</span>
              <div class="video-list">
                <a class="video-item">
                  <img src="place.png" class="video-img">
                  <img src="https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/locked_rectangle4.png" class="video-lock">
                  <img src="https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/play3.png" class="video-icon">
                  <span class="video-price">888 TOKENS</span>
                  <div class="video-title">Horny shower &amp; Anal play with Emma</div>
                </a>
                <a class="video-item">
                  <img src="place.png" class="video-img">
                  <img src="https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/locked_rectangle4.png" class="video-lock">
                  <img src="https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/play3.png" class="video-icon">
                  <span class="video-price">888 TOKENS</span>
                  <div class="video-title">Horny shower &amp; Anal play with Emma</div>
                </a>
                <a class="video-item">
                  <img src="place.png" class="video-img">
                  <img src="https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/locked_rectangle4.png" class="video-lock">
                  <img src="https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/play3.png" class="video-icon">
                  <span class="video-price">888 TOKENS</span>
                  <div class="video-title">Horny shower &amp; Anal play with Emma</div>
                </a>
                <a class="video-item">
                  <img src="place.png" class="video-img">
                  <img src="https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/locked_rectangle4.png" class="video-lock">
                  <img src="https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/play3.png" class="video-icon">
                  <span class="video-price">888 TOKENS</span>
                  <div class="video-title">Horny shower &amp; Anal play with Emma</div>
                </a>
                <a class="video-item">
                  <img src="place.png" class="video-img">
                  <img src="https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/locked_rectangle4.png" class="video-lock">
                  <img src="https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/play3.png" class="video-icon">
                  <span class="video-price">888 TOKENS</span>
                  <div class="video-title">Horny shower &amp; Anal play with Emma</div>
                </a>
                <a class="video-item">
                  <img src="place.png" class="video-img">
                  <img src="https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/locked_rectangle4.png" class="video-lock">
                  <img src="https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/play3.png" class="video-icon">
                  <span class="video-price">888 TOKENS</span>
                  <div class="video-title">Horny shower &amp; Anal play with Emma</div>
                </a>
                <a class="video-item">
                  <img src="place.png" class="video-img">
                  <img src="https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/locked_rectangle4.png" class="video-lock">
                  <img src="https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/play3.png" class="video-icon">
                  <span class="video-price">888 TOKENS</span>
                  <div class="video-title">Horny shower &amp; Anal play with Emma</div>
                </a>
                <a class="video-item">
                  <img src="place.png" class="video-img">
                  <img src="https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/locked_rectangle4.png" class="video-lock">
                  <img src="https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/play3.png" class="video-icon">
                  <span class="video-price">888 TOKENS</span>
                  <div class="video-title">Horny shower &amp; Anal play with Emma</div>
                </a>
                <div>
                  <a style="font-size: 14px; color: rgb(10, 90, 131);">Show More</a>
                </div>
              </div>
            </div>
            <div class="bio-entry-container">
              <span class="entry-type large-content">About Me:</span>
              <div class="about-me-container">
                <span class="about-me-wrapper">
                  <p style="display: unset;">
                    <ul style="padding: 0px;">

                      <ul style="background-color: transparent; width: 35vh; height: 22px; position: absolute; top: 75%; left: 3px; display:flex; padding:0;">
                        <img src="https://i.ibb.co/jb5y9SX/newbed.gif" alt="" style="height: 250%; margin-left: -3px; background-color: rgba(0, 0, 0, 0.1); border-radius: 10px; overflow:hidden;">
                        <p style="width:100%; min-width: 200px;border: 2px solid #3581b8; border-radius: 3px; height:100%; position: relative; overflow: hidden; transform: rotate(-90deg) translate(-160px,-8.5vw);">
                          <strong style="height:100%; background: linear-gradient(to left, #7effe0, #ec368d); width: 40%; position:absolute; border-right: 2px solid #3581b8;"></strong>
                          <strong style="color: #7effe0; font-size: 1em; margin: 0; padding: 1.5px 0 0 0; font-family: 'Ubuntumedium', helvetica, arial, sans-serif; text-shadow: black 0 0 5px; position: absolute; left: 30%;">TIP   111   tks</strong>
                          <strong style="color: #7effe0; font-size: 1em; margin: 0; padding: 1.5px 0 0 0; font-family: 'Ubuntumedium', helvetica, arial, sans-serif; text-shadow: black 0 0 5px;position: absolute; right: 1px;">40%</strong>
                        </p>
                      </ul>


                      <!--____BOTTOM SOCIAL MEDIA LINKS_____-->
                      <p style="position: fixed; bottom: 0px; left: 10%; width: 80%; height: 3.5%; border-radius: 0.5vw 0.5vw 0px 0px; border: 1px solid #3581b8; font-size: 1vw; font-family: verdana, helvetica; background-color: rgba(236,54,141,0.5); margin: 0; padding: 0; z-index: +100; overflow: hidden; display: flex; justify-content:space-evenly;" >
                        <!--Instagram-->
                        <a href="https://www.instagram.com/ivy_fresh_" target="_blank" rel="nofollow" style="text-decoration: none; color: #3581b8;width: 10%; display: flex; align-items: center">
                          <img src="https://i.ibb.co/ZHrSdtc/insta-Blue-Logo.png" style="height:90%; margin: 5px 5px 5px 5px;"/>
                          IVY_FRESH_
                        </a>
                        <!--Twitter-->
                        <a href="https://twitter.com/IvyRoxe" target="_blank" rel="nofollow" style="text-decoration: none; color: #3581b8;width: 10%; display: flex; align-items: center">
                          <img src="https://i.ibb.co/Zc41P9c/twitter-Blue-Logo.png" style="height:90%; margin: 5px 5px 5px 5px;"/>
                          IVYROXE
                        </a>
                        <!--FanClub-->
                        <a href="https://chaturbate.com/fanclub/join/ivy_roxe/" target="_blank" rel="nofollow" style="text-decoration: none; color: #3581b8;width: 15%; display: flex; align-items: center">
                          <img src="https://i.ibb.co/NtcY5m4/fanclub-Blue-Logo.png" style="height:90%; margin: 5px 5px 5px 5px;"/>
                          Join my Fan Club !
                        </a>
                        <!--Amazon-->
                        <a href="https://www.amazon.es/hz/wishlist/ls/304U9EYK4MIIB?ref_=wl_share" target="_blank" rel="nofollow" style="text-decoration: none; color: #3581b8;width: 10%; display: flex; align-items: center">
                          <img src="https://i.ibb.co/ngm6hnw/amazon-Blue-Logo.png" style="height:90%; margin: 5px 5px 5px 5px;"/>
                          Spoil me !
                        </a>
                        <!--Create account-->
                        <a href="https://www.chaturbate.com/accounts/register/?tour=BuReA&amp;redirect_to_room=-welcomepage-&amp;campaign=muceO&amp;disable_sound=0" target="_blank" rel="nofollow" style="text-decoration: none; color: #3581b8;width: 30%; display: flex; align-items: center">
                          <img src="https://i.ibb.co/XCMVx09/cb-Blue-Logo.png" style="height:90%; margin: 5px 5px 5px 5px;"/>
                          Support me, create a free account !
                        </a>
                      </p>

                      <!--____SIDE SOCIAL MEDIA LINKS_____-->
                      <p style="position: absolute; top: 35%; left: 0%; width: 2%; height: 35%; border-radius: 0px 0.5vw 0.5vw 0px; border: 0.1vw solid #3581b8; background-color: rgba(53,129,184,0.5); margin: 0; padding: 0.1vw; z-index: +100; display: flex; flex-wrap: wrap; align-content: space-around; justify-content: center;">
                        <!--Instagram-->
                        <a href="https://www.instagram.com/ivy_fresh_" target="_blank" rel="nofollow">
                          <img src="https://i.ibb.co/h8tScw7/ivyroxeinsta.png" style="width:90%;"/>
                        </a>
                        <!--Twitter-->
                        <a href="https://twitter.com/IvyRoxe" target="_blank" rel="nofollow">
                          <img src="https://i.ibb.co/gtjXBvK/ivyroxetwitter.png" style="width:90%;"/>
                        </a>
                        <!--FanClub-->
                        <a href="https://chaturbate.com/fanclub/join/ivy_roxe/" target="_blank" rel="nofollow">
                          <img src="https://i.ibb.co/ypzX146/ivyroxefan.png" style="width:90%;"/>
                        </a>
                        <!--Amazon-->
                        <a href="https://www.amazon.es/hz/wishlist/ls/304U9EYK4MIIB?ref_=wl_share" target="_blank" rel="nofollow">
                          <img src="https://i.ibb.co/y81SVW9/ivyroxeamazon.png" style=" width:90%;"/>
                        </a>
                      </p>

                      <!--____LOGO____-->
                      <img src="https://i.ibb.co/xq4PnvD/ivyroxelogo.png" style="position: absolute; top: 80px; left:31px; width:150px; height:150px;"/>

                      <!--____REGISTER FOR A FREE ACCOUNT____-->
                      <a href="https://www.chaturbate.com/accounts/register/?tour=BuReA&amp;redirect_to_room=-welcomepage-&amp;campaign=muceO&amp;disable_sound=0" target="_blank" rel="nofollow">
                        <img src="https://i.ibb.co/fFT8SsG/referral2tp.gif" style="position: absolute; top: 85.6px; right: 150px; height: 35.6px;"/>
                      </a>


                      <!--________MAIN BIO_________-->
                      <p style="border:none; padding: 0px; background-color: #fff4e4; margin-left: -200px; margin-right: 0em; margin-top:0em; text-align: center;">

                        <!--Main design image-->
                        <img src="https://i.ibb.co/qN4p90q/ivyroxe-V4-3-1.png" style="width:1000px; border: 0"/>

                        <!--GIF for rules-->
                        <img src="https://i.ibb.co/svdGLZN/test.gif"
                        style="border:0; position:absolute; margin: 803px 0px 0px -962.5px; width:371px; height:500px; object-fit: cover;"
                        onmouseover="this.src='https://i.ibb.co/YyLk7Zg/post-15.jpg'" onmouseout="this.src='https://i.ibb.co/svdGLZN/test.gif'">

                        <!--GIF for special content-->
                        <img src="https://i.ibb.co/q1nLQPx/photos2.gif" style="border:0; border-radius: 8px; position:absolute; margin: 1458px 0px 0px -968px; width: 102px; height:316px; object-fit: cover;">

                        <!--GIF for tip menu left-->
                        <img src="https://i.ibb.co/Tr52V1K/photos3.gif" style="border:0; position:absolute; margin: 1987px 0px 0px -1000px; width:300px; height:479px; object-fit: cover;">
                        <img src="https://i.ibb.co/74HJvcn/overlay.png" style="border:0; position:absolute; margin: 1987px 0px 0px -1000px; width:300px; height:479px;">

                        <!--GIF for tip menu right-->
                        <img src="https://i.ibb.co/dfcqK2B/photos4.gif" style="border:0; position:absolute; margin: 1972px 0px 0px -290px; width:290px; height:503px; object-fit: cover; opacity: 1;">
                        <img src="https://i.ibb.co/74HJvcn/overlay.png" style="border:0; position:absolute; margin: 1972px 0px 0px -290px; width:290px; height:503px; opacity: 1;">

                        <!--GIF for Hall of Fame-->
                        <img src="https://i.ibb.co/G3QzXXz/halloffame.gif" style="width:1000px; border:0; position:absolute; margin: 2519.5px 0px 0px -1000px;"/>

                        <!--Links in bio for social media-->
                        <!--Instagram-->
                        <a href="https://www.instagram.com/ivy_fresh_" style="width: 325px; height: 75px; background-color: rgba(0,0,0, 0.0); position: absolute; margin: 1455px 0px 0px -850px;"></a>
                        <!--Twitter-->
                        <a href="https://twitter.com/IvyRoxe" style="width: 290px; height: 75px; background-color: rgba(0,0,0, 0.0); position: absolute; margin: 1537px 0px 0px -860px;"></a>
                        <!--Snapchat-->
                        <a href="https://chaturbate.com/socials/social_media/get_access/ivy_roxe/17610/?" style="width: 295px; height: 78px; background-color: rgba(0,0,0, 0.0); position: absolute; margin: 1620px 0px 0px -853px;"></a>
                        <!--FanClub-->
                        <a href="https://chaturbate.com/fanclub/join/ivy_roxe/" style="width: 300px; height: 64px; background-color: rgba(0,0,0, 0.0); position: absolute; margin: 1709px 0px 0px -853px;"></a>
                        <!--Amazon-->
                        <a href="https://www.amazon.es/hz/wishlist/ls/304U9EYK4MIIB?ref_=wl_share" style="width: 100px; height: 145px; background-color: rgba(0,0,0, 0.0); position: absolute; margin: 1520px 0px 0px -460px;"></a>

                        <br/>

                        <!--FanClub List-->
                        <font color="#03B800" rel="nofollow" style="font-size: 1.5em; font-family: helvetica; position: absolute; width: 250px; height: 300px; overflow: hidden; overflow-x: hidden; background-color: rgba(255,255,255,0.00); border: 0px solid black; margin: -640px 0px 0px -425px;" target="_blank">
                          <br/><b>bart1979bart</b><br/>
                          <br/><b>explorer1978<b/><br/>
                          <br/><b>nokunk<b/><br/>
                          <br/><b>singingdave<b/><br/>
                          <br/><b>chaynnes<b/><br/>
                          <br/><b>               <b/><br/>
                          <br/><br/><b>Have my undivided<b/><br/>
                          <br/><b>attention on and offline !<b/><br/>
                        </font>

                        <!--Big Tips List-->
                        <font color="#3581b8" rel="nofollow" style="font-size: 1.5em; font-family: impact, verdana, helvetica; position: absolute; width: 350px; height: 300px; overflow: hidden; overflow-x: hidden; background-color: rgba(255,255,255,0.00); border: 0px solid black; margin: -640px 0px 0px 125px;" target="_blank">
                          <br/><img src="https://i.ibb.co/VJfNft5/besttip1.png" style="width: 300px;"/><br/>
                          <br/><img src="https://i.ibb.co/YNL46f3/besttip3.png" style="width: 300px;"/><br/>
                          <br/><img src="https://i.ibb.co/sqH6QCw/besttip2.png" style="width: 300px;"/><br/>
                          <br/>                     	<br/>
                          <br/>                       <br/>
                          <br/>                     	<br/>
                          <br/>	                      <br/>
                          <br/>Write your name in glory !<br/>
                        </font>
                      </p>

                      <!--______VIDEO LIST____-->
                      <ul style="border:none; padding: 0px; background-color: #fff4e4; margin-left: -235px; margin-right: 0em; margin-top:-100px; display: flex; justify-content: center;">
                        <ul style="display: grid; grid-template-columns: repeat(auto-fit, 300px); gap:20px; justify-content: center; padding-bottom: 50px; width:940px; z-index: +50;">

                          <!--Video 1-->
                          <ul style="border:1px solid pink; border-radius: 0px 0px 5px 5px; -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75); -moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75); box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75); background-color: #84e6f8; padding: 0px;">
                            <a href="https://chaturbate.com/photo_videos/photoset/detail/ivy_roxe/7379932/" style="text-decoration: none; color: rgba(236,54,141,1.0);">
                              <img src="https://i.ibb.co/55JW8nJ/thumbnail.gif" alt="g/g video" style="display: block; width: 100%; height:180px; object-fit: cover;"/>
                              <!--Title-->
                              <h3 style="padding: 0px 5px 10px 5px; margin: 0px 0px 0px 0px;">
                                With my Girl
                              </h3>
                            </a>
                            <!--Description-->
                            <p style="padding: 0px 5px 5px 5px; margin: 0px 0px 0px 0px; color: black;">
                              I present to you my favourite girlfriend. Perfect video for you to enjoy as much as I did ...
                            </p>
                            <!--Caracteristics-->
                            <ul style="display: flex; justify-content: space-between; list-style-type: none; padding: 0px 5px 5px 5px; color: rgba(236,54,141,1.0); font-weight: 1000;">
                              <li style="padding: 0;">Duration: 05:01</li>
                              <li>150 tks</li>
                            </ul>
                          </ul>

                          <!--Video 2-->
                          <ul style="border:1px solid pink; border-radius: 0px 0px 5px 5px; -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75); -moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75); box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75); background-color: #84e6f8; padding: 0px;">
                            <a href="https://chaturbate.com/photo_videos/photoset/detail/ivy_roxe/8320843/" style="text-decoration: none; color: rgba(236,54,141,1.0);">
                              <img src="https://i.ibb.co/s9xcYsh/thumbnail2.gif" alt="g/g video" style="display: block; width: 100%; height:180px; object-fit: cover;"/>
                              <!--Title-->
                              <h3 style="padding: 0px 5px 10px 5px; margin: 0px 0px 0px 0px;">
                                Naked, twerk dildo tease
                              </h3>
                            </a>
                            <!--Description-->
                            <p style="padding: 0px 5px 5px 5px; margin: 0px 0px 0px 0px; color: black;">
                              Nice little video, perfect girlfriend experience. Be careful, don't fall in love with me...
                            </p>
                            <!--Caracteristics-->
                            <ul style="display: flex; justify-content: space-between; list-style-type: none; padding: 0px 5px 5px 5px; color: rgba(236,54,141,1.0); font-weight: 1000;">
                              <li style="padding: 0;">Duration: 06:12</li>
                              <li>30 tks</li>
                            </ul>
                          </ul>

                          <!--Video 3-->
                          <ul style="border:1px solid pink; border-radius: 0px 0px 5px 5px; -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75); -moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75); box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75); background-color: #84e6f8; padding: 0px; position:relative; overflow: hidden;">
                            <a href="https://chaturbate.com/photo_videos/photoset/detail/ivy_roxe/8320804/" style="text-decoration: none; color: rgba(236,54,141,1.0);">
                              <img src="https://i.ibb.co/yYPZGm2/thumbnail3.gif" alt="g/g video" style="display: block; width: 100%; height:180px; object-fit: cover;"/>
                              <!--Title-->
                              <h3 style="padding: 0px 5px 10px 5px; margin: 0px 0px 0px 0px;">
                                Teasing my fans
                              </h3>
                              <!--Exclusive FanClub Banner-->
                              <strong style="position: absolute; top: 40px; right: -50px; background-color: green; color: yellow; font-size: 1.0em; width: 200px; text-align: center; transform: rotate(45deg); padding: 2px;">
                                exclusive Fan Club
                              </strong>
                            </a>
                            <!--Description-->
                            <p style="padding: 0px 5px 5px 5px; margin: 0px 0px 0px 0px; color: black;">
                              I love my loyal fans, it's just a little video to let you know that I desire you very much ! Imagine what I will do with you ...
                            </p>
                            <!--Caracteristics-->
                            <ul style="display: flex; justify-content: space-between; list-style-type: none; padding: 0px 5px 5px 5px; color: rgba(236,54,141,1.0); font-weight: 1000;">
                              <li style="padding: 0;">Duration: 04:21</li>
                              <li>FanClub Exclusive</li>
                            </ul>
                          </ul>

                          <!--Video 4-->
                          <ul style="border:1px solid pink; border-radius: 0px 0px 5px 5px; -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75); -moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75); box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75); background-color: #84e6f8; padding: 0px;">
                            <a href="https://chaturbate.com/photo_videos/photoset/detail/ivy_roxe/8320267/" style="text-decoration: none; color: rgba(236,54,141,1.0);">
                              <img src="https://i.ibb.co/tD3QS9z/thumbnail4.gif" alt="g/g video" style="display: block; width: 100%; height:180px; object-fit: cover;"/>
                              <!--Title-->
                              <h3 style="padding: 0px 5px 10px 5px; margin: 0px 0px 0px 0px;">
                                First Anal and Cum
                              </h3>
                            </a>
                            <!--Description-->
                            <p style="padding: 0px 5px 5px 5px; margin: 0px 0px 0px 0px; color: black;">
                              It's my first anal ! Long video to see me discover this new pleasure and see my happy ending !
                            </p>
                            <!--Caracteristics-->
                            <ul style="display: flex; justify-content: space-between; list-style-type: none; padding: 0px 5px 5px 5px; color: rgba(236,54,141,1.0); bottom: 0px; font-weight: 1000;">
                              <li style="padding: 0;">Duration: 14:06</li>
                              <li>99 tks</li>
                            </ul>
                          </ul>

                          <!--Video 5-->
                          <ul style="border:1px solid pink; border-radius: 0px 0px 5px 5px; -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75); -moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75); box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75); background-color: #84e6f8; padding: 0px; position: relative; overflow: hidden;">
                            <a href="https://chaturbate.com/photo_videos/photoset/detail/ivy_roxe/7655435/" style="text-decoration: none; color: rgba(236,54,141,1.0);">
                              <img src="https://i.ibb.co/xXtPn35/thumbnail5.gif" alt="g/g video" style="display: block; width: 100%; height:180px; object-fit: cover;"/>
                              <!--Title-->
                              <h3 style="padding: 0px 5px 10px 5px; margin: 0px 0px 0px 0px;">
                                Cumming 4 U
                              </h3>
                              <!--Exclusive FanClub Banner-->
                              <strong style="position: absolute; top: 40px; right: -50px; background-color: green; color: yellow; font-size: 1.0em; width: 200px; text-align: center; transform: rotate(45deg); padding: 2px;">
                                exclusive Fan Club
                              </strong>
                            </a>
                            <!--Description-->
                            <p style="padding: 0px 5px 5px 5px; margin: 0px 0px 0px 0px; color: black;">
                              Have you never dreamt to sleep with Harley Quinn ? I will make your fantasy true ! Hahahaha
                            </p>
                            <!--Caracteristics-->
                            <ul style="display: flex; justify-content: space-between; list-style-type: none; padding: 0px 5px 5px 5px; color: rgba(236,54,141,1.0); bottom: 0px; font-weight: 1000;">
                              <li style="padding: 0;">Duration: 03:29</li>
                              <li>FanClub Exclusive</li>
                            </ul>
                          </ul>

                          <!--New videos announcement-->
                          <ul style="border:1px solid pink; border-radius: 0px 0px 5px 5px; -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75); -moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75); box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75); background-color: #84e6f8; padding: 0px;">
                            <p style="text-decoration: none; padding: 0; margin: 0;">
                              <img src="https://i.ibb.co/j5ktwd9/newvideos.png" alt="g/g video" style="display: block; width: 100%; height:180px; object-fit: cover;"/>
                              <!--Title-->
                              <h3 style="padding: 0px 5px 10px 5px; margin: 0px 0px 0px 0px; color: rgba(236,54,141,1.0);">
                                New Videos
                              </h3>
                            </p>
                            <!--Description-->
                            <p style="padding: 0px 5px 5px 5px; margin: 0px 0px 0px 0px; color: black;">
                              I'm always working on new delicious content for you guys !
                            </p>
                          </ul>

                        </ul>
                      </ul>

                      <!--_____FOOT BANNER_____-->
                      <ul style="border:none; padding: 0px; background-color: #fff4e4; margin-left: -200px; margin-right: 0em; margin-top:0em; text-align:center;">
                        <img src="https://i.ibb.co/d7XvsKj/ivyroxe-V4-3-2.png" alt="ivyroxe V4.0-2" style="width:1000px; border: 0; text-align: center; margin-top:-120px;"/>
                        <br>
                        <!--MY LOGO-->
                        <img src="https://i.ibb.co/mD9q9b0/mylogo.gif" alt="riaze2CB@gmail.com" style="width: 200px;"/>
                      </ul>

                      <!--_____BACKGROUND_____-->
                      <ul style="padding: 0px; background-color: #fff4e4; width:2000px;height:1500px;left:0px;top:0px;position:fixed;z-index:-100; background-size:cover;"></ul>

                    </ul>
                  </p>
                </span>
              </div>
            </div>
            <div class="bio-entry-container">
              <span class="entry-type large-content">Wish List:</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="chaturbate.js"></script>
  </body>
</html>
